/* STYLE
************************/
body {
    background: linear-gradient(-90deg, #EE7752, #673AB7, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 17s ease infinite;
    -moz-animation: Gradient 17s ease infinite;
    animation: Gradient 17s ease infinite;
    font-family: 'Open Sans', sans-serif;
    color: #777;
}

a {
    color: #2196F3;
    font-weight: 400;
}

span {
    font-weight: 300;
    color: #2196F3;
}

.mlogin, .minstall {
    margin: 170px auto 0;
}

.mregister {
    margin: 80px auto 0;
}

.error {
    margin: 40px auto 0;
    border: 1px solid #E91E63;
    padding: 3px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    width: 100%;
    background: #E91E63;
}
.succes{
    margin: 40px auto 0;
    border: 1px solid #8BC34A;
    padding: 3px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    width: 100%;
    background: #8BC34A;
}

.regtext {
    font-size: 13px;
    margin-top: 26px;
    color: #777;
}

.red{
    color: #E91E63;
    font-size: 13px;
}

/* CONTENEDOR
************************/
.container {
    padding: 25px 16px 25px 10px;
    font-weight: 400;
    overflow: hidden;
    width: 350px;
    height: auto;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

#welcome {
    width: 500px;
    padding: 30px;
    background: #fff;
    margin: 160px auto 0;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.container h1 {
    color: #777;
    text-align: center;
    font-weight: 300;
    margin-top: 13px;
}

.container label {
    color: #777;
    font-size: 14px;
}

#login, #install {
    width: 320px;
    margin: auto;
    padding-bottom: 15px;
}

.container form .input,.container input[type=text],.container input[type=password],.container input[type=e] {
    background: #fbfbfb;
    font-size: 24px;
    line-height: 1;
    width: 100%;
    padding: 3px;
    margin: 0 6px 5px 0;
    outline: none;
    border: 1px solid #d9d9d9;
}

.container form .input:focus {
    border: 1px solid #2196F3;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 188, 212, 0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 188, 212, 0.75);
    box-shadow: 0 0 3px 0 rgba(0, 188, 212, 0.75);
}

.container select {
    width: 100%;
    padding: 11px 0;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* BOTON
************************/

.button{
    border: none;
    background: #00BCD4;
    background: -webkit-gradient(linear, left top, left bottom, from(#2196F3), to(#00BCD4));
    background: -moz-linear-gradient(top, #2196F3, #00BCD4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=’#2196F3, endColorstr=’#00BCD4);
    color: #fff;
    padding: 11px 10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    float: right;
    cursor: pointer;
    width: 100%;
}

.button:hover{
    background: #00BCD4;
    background: -webkit-gradient(linear, left top, left bottom, from(#00BCD4), to(#2196F3));
    background: -moz-linear-gradient(top, #00BCD4, #2196F3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=’#00BCD4, endColorstr=’#2196F3);
}

/* FOOTER
************************/
footer {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

/* Animaciòn css
************************/
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}